
<div class="text-center my-5">
	<h6 class="text-muted" >{{operand}} up to {{upto}}</h6>
	
	<h1 class="display-1" ><span id="task">1 + 2</span> = </h1>
	
	<br /><br />
	
	<div class="row">
	<div class="col-5">
		<p>&nbsp;
	</div>
	<div class="col-2">
		
		<form id="form">
			<div class="row">
				<div class="col-9">
					<div class="form-group mb-2">
						<input type="number" class="form-control form-control-lg" id="answer" />
						<input type="hidden" id="check" value="0" />
					</div>
				</div>
				<div class="col-3 align-self-center">
					<button type="submit" class="btn btn-primary btn-lg">Submit</button>
				</div>
			</div>
		</form>
		
	</div>
	</div>
	
	<br /><br /><br />
	
	<h3 id="result" >_</h3>
	<br /><br />
	<p id="stats"></p>
	
</div>

<script>

// ## depends
// /js/common.js

//## config
var AMOUNT = {{amount}};
var RANGE = {{range}};
var SIGN = "{{sign}}";

// ## usedin
// /js/mat-render.js

</script>


